@{
    ViewBag.Title = "Home Page";
}

<!-- Page Content -->
<div>
    <center>
        <div class="jumbjotron">
            <h1>Universe Coffee</h1>
            <p class="lead">A better life!</p>
            <img style="height:500px;width:700px" src="~/coffee-shop/nhanvien1.jpg" />
        </div>
    </center>

</div>